@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,800;0,900;0,1000;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.navbar-container{
    width: 1170px;
    height: 100px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#company-name-logo{
    width: 335px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.company-logo img {
    width: 45px;
    height: 56px;
}
.company-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.company-name .travel{
    color: #FF5400;
}

.navbar-content {
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.navbar-content a{
    text-decoration: none;
    color: #424247;
}

.navbar-content .home{
    color: #FF5400;
}

.explore-container{
    position: relative;
    width: 1170px;
    height: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.explore-container img{
    width: 100%;
    height: 100%;
}

.explore-text-div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.explore-text-h2{
    font-size: 64px;
    font-weight: 800;
    margin: 100px auto 24px;
}

.explore-text-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.explore-box-div{
    position: absolute;
    margin: 315px 185px 100px;
    width: 800px;
    height: 85px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-find-now input{
    width: 174px;
    height: 52px;
    border: none;
    margin-left: 18px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
input[type=submit] {
    color: #FFF;
    font-weight: 700;
    background: #FF5400;
}

.popular-section {
    width: 1170px;
    height: 550px;
    margin: 80px auto 0px;
    display: flex;
    margin-bottom: 50px;
}

.popular-section-div {
    width: 590px;
    margin-left: 5px;
}
.popular-section-div h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.popular-section-para{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    }
.popular-section-p1{
    margin-bottom: 24px;
}
.popular-section li{
    margin-left: 5px;
    margin-bottom: 16px;
}
.popular-section-p2{
    margin-top: 24px;
    margin-bottom: 32px;    
}
.popular-section-btn{
    position: absolute;
    margin-bottom: o;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.popular-section img{
    margin-left: 31px;
}