@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:ital,wght@0,400;0,600;0,800;0,900;0,1000;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.navbar-container{
    width: 1170px;
    height: 100px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#company-name-logo{
    width: 335px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.company-logo img {
    width: 45px;
    height: 56px;
}
.company-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.company-name .travel{
    color: #FF5400;
}

.navbar-content {
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.navbar-content a{
    text-decoration: none;
    color: #424247;
}

.navbar-content .home{
    color: #FF5400;
}

.explore-container{
    position: relative;
    width: 1170px;
    height: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.explore-container img{
    width: 100%;
    height: 100%;
}

.explore-text-div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.explore-text-h2{
    font-size: 64px;
    font-weight: 800;
    margin: 100px auto 24px;
}

.explore-text-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.explore-box-div{
    position: absolute;
    margin: 315px 185px 100px;
    width: 800px;
    height: 85px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-find-now input{
    width: 174px;
    height: 52px;
    border: none;
    margin-left: 18px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
input[type=submit] {
    color: #FFF;
    font-weight: 700;
    background: #FF5400;
}

.popular-section {
    width: 1170px;
    height: 550px;
    margin: 80px auto 0px;
    display: flex;
    margin-bottom: 50px;
}

.popular-section-div {
    width: 590px;
    margin-left: 5px;
}
.popular-section-div h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.popular-section-para{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    }
.popular-section-p1{
    margin-bottom: 24px;
}
.popular-section li{
    margin-left: 5px;
    margin-bottom: 16px;
}
.popular-section-p2{
    margin-top: 24px;
    margin-bottom: 32px;    
}
.popular-section-btn{
    position: absolute;
    margin-bottom: o;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.popular-section img{
    margin-left: 31px;
}

.destination-section{
    position: relative;
    width: 1170px;
    height: 1120px;
    margin: 100px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destination-section h3{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.destination-section-para{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 48px;
}
.destination-img-div{
    width: 1170px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;    
}
.indo-mal{
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: auto;
}
.maldives{
    height: 300px;
    width: 573px; 
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maldives p{
    position: absolute;    
    margin-top: 133px;    
} 
.indonesia {
    width: 573px;
    height: 300px;
    fill: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.indonesia p{
    position: absolute;    
    margin-top: 133px; 
}

.sri-ame-kas {
    position: relative;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.srilanka{
    width: 374px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.srilanka p{
    position: absolute;    
    margin-top: 125px;
}
.america{
    width: 474px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.america p{
    position: absolute;    
    margin-top: 125px;
}
.kashmir{
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kashmir p{
    position: absolute;
    margin-top: 125px;

}
.beautiful{    
    position: relative;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Bangladesh{
    width: 473px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Bangladesh p{
    position: absolute;
    margin-top: 132px;
}
.bandarban{
    width: 673px;
    height: 300px; 
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bandarban p{
    position: absolute;
    margin-top: 132px;
}

.choose-us-container{
    width: 1170px;
    height: 800px;
    position: relative;
    margin: 80px auto;
}
.choose-us-header{
    text-align: center;
}
.choose-us-header h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.choose-us-header p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;    
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 48px;
}
.choose-us-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
.choose-us-body-part1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.choose-us-body-part1 img{
    width: 64px;
    height: 64px;
    margin: 32px;
}
.choose-us-body-part2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.choose-us-body-part2 img{
    width: 64px;
    height: 64px;
    margin: 32px;
}

.choose-us-body-part3{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-bottom: 100px;
}
.choose-us-body-part3 img{
    width: 64px;
    height: 64px;
    margin: 32px;
}
.choose-us-body-h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 32px;
    margin-bottom: 10px;
}
.choose-us-body-p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 32px;
}
.choose-us-body-part3{
    position: absolute;
    margin-left: 298px;
}

.newsletter-container{
    width: 1170px;
    height: 422px;
    position: relative;
    margin: 0px auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newsletter-container img{
    width: 665px;
    height: 422px;
    position: relative;
    margin-right: 0;
}
.newsletter-txt-inp{
    width: 480px;
    height: 422px;
    position: relative;
    border:1px solid #FF5400;
    border-radius: 16px;
    display: flex;
    flex-direction: column;    
}
.newsletter-txt-inp h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 24px;
}
.newsletter-txt-inp p{
    margin-left: 40px;
    color: #5A5A5D;
    font-size: 16px;    
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 24px;
}
.newsletter-txt-inp hr{
    margin-left: 40px;
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 24px; 
}
.newsletter-inp-div{
    display: flex;
    flex-direction: column; 
    margin-left: 40px;   
}
.newsletter-inp-div input[type="text"]{
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    width: 373px;
    height: 52px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: none;
}
.newsletter-inp-div input[type="email"]{
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    width: 373px;
    height: 52px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: none;
}
.newsletter-inp-div input[type="submit"]{
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    border: none;
}

footer{
    position: relative;
    margin: 100px auto 0px;
    width: 1440px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer #company-name-logo {
    margin-top: 110px;
    margin-bottom: 15px;
}
.footer-p1{
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 32px;
}
footer hr{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-p2 {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}